.title {
  font-size: 30px;
  font-weight: 700;
  color: rgb(55, 155, 250);
}

.daily-item {
  background-color: rgba(55, 155, 250, 0.8);
  border-radius: 10px;
  height: 45px;
  margin:4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 20px;
}
.daily-item:hover {
  transition: all ease 0.3s;
  scale: 103%;
}

.icon-small {
  width: 65px;
}

.day {
  color: #fff;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
  font-size: 16px;
}

.description {
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.min-max {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.daily-details-grid {
  grid-row-gap: 0;
  grid-column-gap: 15px;
  row-gap: 0;
  column-gap: 15px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: rgba(225, 250, 255, 0.8);
}

.daily-details-grid-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.daily-details-grid-item label:first-child {
  color: #000;
  font-weight: 600;
  font-size: 16px;
}

.daily-details-grid-item label:last-child {
  color: #000;
  font-size: 16px;
}
